.hero {
    align-items: center;
    background-color: #0D000D;
};

.heroConteiner {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom: 56px;

    max-width: 744px;
    height: 700px;

    background-image: url(https://diniszabrodsky.github.io/MiramixiStoryteller/Image/Hero/HomeHeroMobile.jpg);

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(https://diniszabrodsky.github.io/MiramixiStoryteller/Image/Hero/HomeHeroMobile@2x.jpg);
    }

    @media screen and (min-width: 360px) {
        background-image: url(https://diniszabrodsky.github.io/MiramixiStoryteller/Image/Hero/HomeHeroTable.jpg);
    
        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(https://diniszabrodsky.github.io/MiramixiStoryteller/Image/Hero/HomeHeroTable@2x.jpg);
        }
    }

    @media screen and (min-width: 744px) {
        max-width: 1440px;
        height: 1040px;

        background-image: url(https://diniszabrodsky.github.io/MiramixiStoryteller/Image/Hero/HomeHeroDesctop.jpg);
    
        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(https://diniszabrodsky.github.io/MiramixiStoryteller/Image/Hero/HomeHeroDesctop@2x.jpg);
        }
    }

    @media screen and (min-width: 1440px) {
        max-width: 1920px;
        height: 777px;
        
    }

    @media screen and (min-width: 1920px) {
        width: 1920px;
        height: 1037px;
        
    }


    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 145px;


        background: linear-gradient(180deg, rgba(13, 0, 13, 0.00) 0%, #0D000D 100%);

    }
}

.heroText {
    margin: 10px 40px;

    padding: 0 20px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;

    color: #FFFFFF;

    @media screen and (min-width: 744px) {
      margin-top: 15px;

      font-size: 24px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 28px;
      }

    @media screen and (min-width: 1440px) {
        font-size: 32px;
    }
}


.heroButton {
    position: relative;

    margin-top: 40px;

    font-size: 14.5px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    width: 261px;
    height: 56px;

    gap: 16px;
    border: none;

    transition: 0.5s;
    overflow: hidden;

    border-radius: 999px;
    border: 2px solid rgba(22, 220, 242, 0.10);
    background: linear-gradient(135deg, rgba(22, 220, 242, 0.20) 0%, rgba(22, 220, 242, 0.00) 100%), radial-gradient(107.50% 107.50% at 50.00% 215.00%, rgba(22, 220, 242, 0.08) 0%, rgba(22, 220, 242, 0.00) 100%), linear-gradient(225deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);

    @media screen and (min-width: 744px) {
        margin-top: 55px;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 2px;
    }

    &Svg {
        display: block;

        width: 24px;
        height: 24px;
    }

    &:hover, &:focus {
        background: linear-gradient(92.64deg, rgba(22, 220, 242, 0.2) 0%, rgba(0, 0, 0, 0) 100%, rgba(22, 220, 242, 0) 100%), radial-gradient(84.92% 150% at 50% 138.75%, rgba(22, 220, 242, 0.24) 0%, rgba(22, 220, 242, 0) 100%), linear-gradient(267.36deg, rgba(22, 220, 242, 0.5) 0%, rgba(22, 220, 242, 0.5) 100%);
    }

}