.header {
    position: relative;
    position: fixed;
    top: 0;

    z-index: 999;
    width: 100%;
    

    background-color: rgba(25, 24, 56, 0.8);
}


.headerConteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;

    width: 360px;
    height: 60px;
    gap: 32px;
    padding: 0 15px;

    @media screen and (min-width: 744px) {
        width: 744px;
        padding: 0 40px;
    }

    @media screen and (min-width: 1440px) {
        width: 1280px;
        padding: 0;
    }

    @media screen and (min-width: 1920px) {
        width: 1320px;
    }

    
}

.headerImage {
    display: block;


    width: 124px;
    height: 24px;

    

    @media screen and (min-width: 744px) {
        width: 190px;
        height: 36px;
    }
}

