.socialIcon {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-52%);

    display: block;
    width: 44px;


    z-index: 100;



    // &.isHiden{
    //     // height: 224px;

    //     .one {
    //         // transform: translateY(125%);
    //         transform: translateY(50%);
    //     }

    //     .two {
    //         z-index: -1;
    //         opacity: 0;
    //         pointer-events: none;
    //     }

    //     .socialIconMore {
    //         transform: translateY(-427%);
    //     }
    // } 

}


.socialIconList {
    display: flex;
    flex-direction: column;

    padding-top: 16px;
    gap: 16px;


    & a {
        margin: 0;
        border-radius: 50px;
        cursor: pointer;

        color: #fff;

        &:hover, &:focus {
            .socialIconListSvg {
                filter: drop-shadow(0px 0px 10px #16DCF2);
                
            }
        }


    }

    &Svg {
        display: block;
        margin-left: auto;
        margin-right: auto;

        width: 44px;
        height: 44px;

        fill: currentColor;
        transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
}



.socialIconMore {
    position: absolute;
    right: 0;
    bottom: -60px;

    transform: translateY(0);
    transition: transform 500ms  linear;

    &Svg {
        display: block;
        margin-left: auto;
        margin-right: auto;

        width: 44px;
        height: 44px;

        fill: currentColor;
        transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }

    & svg {
        cursor: pointer;
        
        & use {
            transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .socialIconMoreHide {
            opacity: 0;
        }
    }


    &:hover, &:focus {
        .socialIconMoreHide {
            opacity: 1;
        }

        .socialIconMoreMore {
            opacity: 0;
        }

        filter: drop-shadow(0px 0px 10px #16DCF2);
    }

}