.headerButton {
    display: block;

    padding: 0;

    border: none;
    border-radius: 0;
    background: transparent;

    z-index: 500;



    & > svg {
        
        display: block;
        width: 44px;
        height: 44px;

        & use {
            display: block;
            object-fit: contain;
        }
    }


}

.headerMobileConteiner {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100vw;
    height: 100vh;

    z-index: 499;

    @media screen and (min-width: 744px) {
        right: 0;
        margin-left: auto;
        margin-right: auto;

        width: 744px;

        background-color: transparent;
    }
    
}


.headerMobilNav{
    display: block;

    margin-left: auto;
    

    width: 360px;
    padding: 64px 30px 16px 30px;

    background: rgba(25, 24, 56, 0.80);
    backdrop-filter: blur(5px);

    @media screen and (max-width: 744px) {
        margin-right: auto;
    }

    @media screen and (min-width: 744px) {
        width: 300px;
    }
}

.headerMobilList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 12px;

    & li {
        display: flex;
        justify-content: center;
    }
}

.headerMobilList a, .headerMobilLanguage {

        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;

        text-transform: uppercase;
        text-align: center;

        padding: 10px 12px;
        color: #DDDDDD;
        cursor: pointer;

        
        transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.headerMobilList:hover, .headerMobilLanguage:focus {
        border: none;
        outline: none;
        text-shadow: 0px 0px 10px #16DCF2;
    }


.headerMobilLanguage {
    display: none;

    display: block;
    background-color: transparent;
    border: none;
}


.headerMobilLanguage option {
    color: #DDDDDD;

    border: none;
    border-radius: 3px;
    background-color: #011126;
    
}