.footer {
    background: linear-gradient(180deg, #191838 0%, rgba(25, 24, 56, 0.00) 100%);
}

.footerConteiner {
    display: flex;
    flex-direction: column;

    width: 320px;
    padding: 40px 15px;

    gap: 28px;

    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 744px) and (max-width: 1440px) {
        width: 664px;

        flex-direction: row;
    }


    @media screen and (min-width: 1440px) and (max-width: 1920px) {
        width: 1280px;
        flex-direction: row;
    }

    @media screen and (min-width: 1920px) {
        width: 1320px;
        flex-direction: row;
    }
}


.footerLogoConteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 744px) and (max-width: 1440px) {
        flex-direction: column;
        align-items: start;
    }

    @media screen and (min-width: 1440px) {
        justify-content: start;
        flex-direction: column;

        gap: 50px;
    }

}

.footerCopirate{
    margin-top: 0;

    font-size: 16px;
    font-weight: 400;
    line-height: normal;
      
    text-align: center;  
    text-transform: uppercase;

}   


.footerLinkConteiner {
    display: flex;
    flex-direction: column;
    gap: 28px;

    @media screen and (min-width: 744px) {
        margin-left: auto;
        width: 355px;
        
        flex-direction: row;
        flex-wrap: wrap;
        gap: 14px;
    }

    @media screen and (min-width: 1440px) {
        width: 750px;

        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 75px;
    }

    @media screen and (min-width: 1920px) {
        width: 870px;
    }

    & > div {
        display: block;
        width: 100%;
        text-align: center;

        @media screen and (min-width: 744px) and (max-width: 1440px) {
            text-align: start;
            flex-basis: calc((100% / 2) - 14px);

            &:nth-child(2) {
                order: 3;
            }
        }

        @media screen and (min-width: 1440px) {
            flex-wrap: nowrap;
            text-align: start;

            &:nth-child(2) {
                order: 2;
            }

            &:nth-child(3) {
                order: 3;
            }
        }
    }
}



.footerTitel {
    font-size: 18px;
    letter-spacing: 0.54px;

    line-height: 1.3;
    text-transform: none;


    @media screen and (min-width: 1440px) {
        font-size: 22px;
        letter-spacing: 0.66px;
    }

    @media screen and (min-width: 1920px) {
        font-size: 23px;
    }
}

.footerList {
    display: flex;
    flex-wrap: wrap;

    margin-top: 20px;

    gap: 12px;

    @media screen and (min-width: 744px) {
        flex-direction: column;
        flex-wrap: nowrap;

        gap: 8px;
        margin-top: 12px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 22px;
        letter-spacing: 0.66px;

        gap: 16px;
        margin-top: 24px;
    }

    & > li {
        display: inline-block;

        flex-basis: calc((100% / 2) - 6px);
        
        @media screen and (min-width: 744px) {
            flex-direction: row;
            
        }
    
    } 

}


.footer a {

    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;

    color: #bebebe;

    text-align: center;
    text-transform: uppercase;
    transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1440px){
        font-size: 14px;
    }

    &:hover, &:focus {
        text-shadow: 0px 0px 10px #16DCF2;
    }
}


