.headerNav {
    flex-grow: 1;
}

.headerList {
    display: flex;
    justify-content: space-between;
}

.headerList a, .headerLanguage {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;

        text-transform: uppercase;
        text-align: center;

        color: #DDDDDD;
        /* padding: 20px 8px; */
        cursor: pointer;

        
        transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.headerList a:hover, .headerLanguage:focus {
        border: none;
        outline: none;
        text-shadow: 0px 0px 10px #16DCF2;
    }


.headerLanguage {
    display: none;

    display: block;
    background-color: transparent;
    border: none;
}


.headerLanguage option {
    color: #DDDDDD;

    border: none;
    border-radius: 3px;
    background-color: #011126;
    
}